textarea { position: absolute; top: 0; right: 0; bottom: 40px; left: 0; }
#send { background: #eee; border: 2px solid #444; color: #222; font-size: 27px; cursor: pointer; position: absolute; bottom: 0; right: 0; }
