span { font-size: 24px; }
select { font-size: 24px; border: 2px solid #888; border-right: none; margin-left: 12px; }
#send { background: #eee; border: 2px solid #444; color: #222; font-size: 27px; margin: 24px 0 16px 320px; cursor: pointer; position: relative; top: -62px; }
